################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Module-1/Day04 - Fluxor-Reduct-Intro/demo/starter/.vs/Day04Demo/DesignTimeBuild/.dtbcache.v2
/Module-1/Day04 - Fluxor-Reduct-Intro/demo/starter/.vs/Day04Demo/FileContentIndex/291abb28-21df-4dd0-b4ff-93ca11b14c68.vsidx
/Module-1/Day04 - Fluxor-Reduct-Intro/demo/starter/.vs/Day04Demo/FileContentIndex/138b2cec-c8ea-4753-ab2a-bee61d1fdb93.vsidx
/Module-1/Day04 - Fluxor-Reduct-Intro/demo/starter/.vs/Day04Demo/FileContentIndex/61d5e792-5b08-46f5-8d81-66a99817e466.vsidx
/Module-1/Day04 - Fluxor-Reduct-Intro/demo/starter/.vs/Day04Demo/FileContentIndex/afa414b4-17d9-46c5-a1e3-f0ce598963cc.vsidx
/Module-1/Day04 - Fluxor-Reduct-Intro/demo/starter/.vs/Day04Demo/FileContentIndex/3b2480d3-cc75-4f5e-a791-341f14cfe702.vsidx
